*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --cor-simple-text:hsl(244, 38%, 28%);
  --cor-title-text: hsl(320, 69%, 42%);
  --cor-corpo:hsl(283, 47%, 97%);
}

body{
  width: 100vw;
  display: flex;
  font-family: "Mulish", "sans-serif";
  margin:0 auto;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

main, img{
  gap: 1.7rem;
  
}

main{
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 2.0rem;
  background-color: var(--cor-corpo);
}

#seta{
  margin: 3.3rem;
  margin-bottom: 9.4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


div, img{
  margin-bottom: 3.3rem;
}

h2{
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--cor-title-text);
  margin-bottom:0.5rem;
}

p{
  color: var(--cor-simple-text);
    
}

button:hover{
  transform: scale(0.8);
  transition: transform 0.8s;
}

fieldset{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#infoCampos{
  background-color: var(--cor-simple-text);
  border:none;
  padding: 3.9rem;
}

.yellow, .blue, .purple{
  font-size: 1.6rem;
  border-radius: 2rem;
  padding:3.2rem;
  margin-bottom: 5rem;
  background-color: #FFF;
}

#infoCampos div:hover{
  transform: scale(1.07);
  transition: transform 0.9s;
}

#infoContato{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: hsl(283, 47%, 97%);
  border:none;
  padding: 3.9rem;
}

#infoContato h2{
  margin-bottom: 4.6rem;
}

input{
  border:1.5px solid #312D64; 
  border-radius: 1.6rem;
  padding: 1.6rem;
  background-color: transparent;
  width: 100%;
  margin-bottom: 2.3rem;
}

input:hover{
  transform: scale(1.07);
  transition: transform 0.5s;
}

#email{
  background-image: url(/assets/email.svg);
  background-repeat: no-repeat;
  background-position: 1.2rem center;
  padding-left: 4.2rem;
}

#name{
  background-image: url(/assets/contato.svg);
  background-repeat: no-repeat;
  background-position: 1.2rem center;
  padding-left: 4.2rem;
}

#msg{
  display: flex;
  text-align: 1 0 0;
  height: 9.8rem; 
}

#send{
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-weight: 600;
  cursor: pointer;
  width: 15.1rem;
  height: 4.5rem;
  
  color: #FFF;
  border-radius:1.6rem;
  background-color: hsl(244, 38%, 28%);
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-bottom: 6.4rem;
}

#rocket{
  font-size: 1.9rem;
  color: #FFF;
}

footer{
  display: flex;
  width: 100%;
  height: 7.8rem;
  background-color: var(--cor-simple-text);
  padding: 16px;
  align-items: center;
  justify-content: center;
}

.star{
  display: none;
}

/*Mudança no layout para desktop*/

@media(width > 80rem){

  body{
    max-width: 100%;
  }

  .page{
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-height: 83.6rem;
    
    --startY: -100%;
    animation: move .4s
  }

  .page h2{
    line-height: 7.3rem;
    font-size: 5.8rem;
  }

  .page p{
    font-size: 3.2rem; 
  }

 
  #seta{
    position: absolute;
    left: 0;
    align-self: flex-end;
    margin-left: 10.9rem;
    margin-top: 10rem; /* alterei o valor diferente do projeto
    achei que encaixa melhor*/
  }

  .astro{
    min-width: 71.93rem;
    min-height: 73.23rem; 
  }

  .ceu{
    align-self: start;
    order: 2; /* Altera a ordem do item, muda da direita para esquerda vice e versa*/
  }

  #titulo{
    position: relative;
    align-items: flex-end;
  }


  #titulo h2, #titulo p{
    text-align: left;
    margin-left: 10.9rem;
  }

  #infoCampos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6rem;
    padding: 6.4rem 11.1rem;
    max-width: 100%;
    max-height: 57.6rem;
  }

  #infoCampos div{
    min-height: 44.8rem;
    max-width: 33.6rem;
    
  }
 
  #infoContato{
    display: grid;
    align-items: center;
    gap: 9.2rem;
    width: 100%;
    grid-template-columns: 1fr  1fr;
    background-image: url(assets/stars.svg);
    background-repeat: no-repeat;
    background-position: right;
  }

  #contact{
    margin-left: 10.9rem;
  }

  #contact h2{
    margin-bottom: 4.2rem;
  }

  #contact input{  
    display: flex;
    min-width: 60rem;
    margin-bottom: 2.4rem;
  }

  footer{
    width: 100%;

    --startY: 100%;
    animation: move .4s;
  }

}

/* Animações */

@keyframes move{
  from{
    transform: translateY(var(--startY));
  }
}